html {
	max-width: 1440px;
	margin: auto;
	background-color: white;
}

body {
	height: 100%;
	margin: 0 auto;
	background-image: url("images/pattern-background-desktop.svg");
	background-color: hsl(225, 100%, 94%);
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 120px;
}

.content {
	max-width: 350px;
	margin: auto;
}

.card {
	height: 525px;
	background-image: url("images/illustration-hero.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 350px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h1 {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 900;
	padding-top: 200px;
	text-align: center;
	font-size: 24px;
}

h2 {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 700;
	position: relative;
	font-size: 16px;
}

p {
	padding: 0 40px 0 40px;
	font-size: 15px;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	color: rgb(115, 115, 115);
	line-height: 20px;
}

a .one {
	color: black;
}

.price {
	display: flex;
	padding: 15px 0px 15px 10px;
	background-color: rgba(235, 238, 250, 0.83);
	margin: 10px auto;
	width: 90%;
	border-radius: 10px;

}

/* .price:hover {
	background-color: rgb(123, 130, 235);
	transition-duration: 0.6s;
} */

.icon {
	flex-grow: 1;
	background: url('images/icon-music.svg');
	height: 48px;
	width: 48px;

	background-repeat: no-repeat;
	position: relative;
}

.plan {
	flex-grow: 2;
	margin: auto;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 13px;
}

.change a:link {
	font-family: 'Red Hat Display', sans-serif;
	transition-duration: 0.3s;
	font-size: 15px;

}
.change a:hover {
	font-family: 'Red Hat Display', sans-serif;
	text-decoration: none;

}

.plan h2 {	
	margin: 0;

}

.change {
	flex-grow: 1;
	margin: auto;
}

.button {
	margin: auto;
	display: flex;
}

button.button:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	transition-duration: 0.4s;
	background-color: #5345ec;
}

button.button {
	background-color: #382AE1;
	border: none;
	text-align: center;
	border-radius: 5px;
	margin: 10px auto;
	color: white;
	width: 90%;
	height: 45px;
	display: inline-block;
	cursor: pointer;
	padding: 17	px;
	font-family: 'Red Hat Display', sans-serif;	
	font-size: 14px;
	font-weight: bold;

}

.cancel {
	color: grey;
	text-align: center;
	margin: 7px auto;
	font-family: 'Red Hat Display', sans-serif;
	text-decoration: none;
	font-weight: bold;
}

.cancel a:link {
	text-align: center;
	text-decoration: none;
	font-size: 14px;

}

.cancel a:hover {
	color:#382AE1;
	transition-duration: 0.3s;
	
}